{% extends 'base/base.html' %}
{% load static %}

{% block title %}Create Purchase{% endblock title %}

{% block SeperateCssFile %}
<link rel="stylesheet" href="{% static 'css/purchasing_styling.css' %}">
{% endblock SeperateCssFile %}

{% block body %}

  <h2>🛒 Create Purchase</h2>
  <form onsubmit="buildAndSubmit(event)">
    <div class="party-name">
      <label for="party_name">Party:</label>
      <input type="text" id="party_name" name="party_name" placeholder="Enter party name" required>
    </div>

    <div class="invoice-date">
      <label for="purchase_date">Purchase Date:</label>
      <input type="date" id="purchase_date" name="purchase_date">
    </div>

    <div class="items-comtainer">
      <h3>Items</h3>
      <div id="items"></div>
      <button type="button" class="custom-btn add-item" onclick="addItemRow()">+ Add Item</button>
    </div>

    <div id="totalBox">Total Invoice Amount: <span id="totalAmount">0.00</span></div>

    <div class="actions">
      <button type="submit" class="custom-btn">Create Purchase</button>
    </div>
  </form>
</div>
<script src="{% static 'js/purchasing_script.js' %}"></script>
{% endblock body %}
