{% extends "base/base.html" %}
{% load static %}



{% block title %} Payment {% endblock title %}

{% block SeperateCssFile %}
    <link rel="stylesheet" href="{% static 'css/payment.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/update_party.css' %}"> --> 
{% endblock SeperateCssFile %}




{% block body %}
<div class="dropdown-container">
    <button onclick="fetchOldPayments()">Payments History</button>
    <div id="paymentsDropdown"></div>
</div>


<form method='post' id="paymentForm">
    {% csrf_token %}
    <h2>Payment</h2>
    
    <!-- top row: date + party -->
    <div class="form-row">
        <div class="form-group">
            <label for="payment_date">Payment Date</label>
            <input type="date" id="payment_date" name="payment_date" value="{{payment_date}}" required>
        </div>

        <div class="form-group autocomplete-container">
            <label for="search_name">Party Name:</label>
            <input type="text" id="search_name" name="search_name"
                   placeholder="Enter Party Name"
                   autocomplete="off"
                   data-autocomplete-url="{% url 'parties:autocomplete_party' %}"
                   value="{{party_name}}">
            <div id="suggestions"></div>
        </div>
    </div>

    <!-- stacked fields -->
    <div class="form-group">
        <label for="amount">Amount</label>
        <input type="number" id="amount" name="amount" placeholder="Enter Amount" value="{{amount}}" required>
    </div>

    <div class="form-group">
        <label for="method">Method</label>
        <input type="text" id="method" name="method" value="Cash" readonly>
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" name="description" placeholder="Enter Description">{{description}}</textarea>
    </div>

    
    <button type="submit" name="action" value="submit">Save Payment</button>
    <button type="submit" name="action" value="delete" class="delete-btn">Delete</button>

    

</form>


<input type="hidden" id="current_payment_id" name="current_id" value="{{payment_id}}" form="paymentForm">

<div class="button-group">
    <button type="button" onclick="navigatePayment('previous')">Previous</button>
    <button type="button" onclick="navigatePayment('next')">Next</button>
</div>


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'js/payments_page.js' %}"></script>


{% endblock body %}

