{% extends "base/base.html" %}
{% load static %}

{% block title %}Add New Item{% endblock title %}

{% block SeperateCssFile %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/update_items.css' %}">
{% endblock SeperateCssFile %}

{% block body %}
<!-- ------------------------------Item Form----------------------------------------------------- -->
<h2>Add Item </h2>
<form method="post">
    {% csrf_token %}

    

    <!-- Item Name -->
    <label for="item_name">Item Name:</label>
    <input type="text" id="item_name" name="item_name" placeholder="Enter item name" required>


    <!-- Sale Price -->
    <label for="sale_price">Sale Price:</label>
    <input type="number" step="0.01" id="sale_price" name="sale_price" placeholder="Enter price">

    <!-- Storage -->
    <label for="storage">Storage: <small>(optional)</small></label>
    <input type="text" id="storage" name="storage" placeholder="e.g. Warehouse A">

    <!-- Item Code -->
    <label for="item_code">Item Code: <small>(optional)</small></label>
    <input type="text" id="item_code" name="item_code" placeholder="Enter unique item code">

    <!-- Category -->
    <label for="category">Category: <small>(optional)</small></label>
    <input type="text" id="category" name="category" placeholder="e.g. Electronics">

    <!-- Brand -->
    <label for="brand">Brand: <small>(optional)</small></label>
    <input type="text" id="brand" name="brand" placeholder="e.g. Samsung">


    <!-- Submit -->
    <button type="submit">Submit</button>
</form>

{% endblock body %}